@use "../setting/setting";

.c-news__item {
  border-bottom: solid 1px #e6e6e6;
  padding: 20px 0;
}

.c-news__meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.c-news__meta-time {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  margin-top: 2px;
  color: #767676;
  font-family: setting.$font-english;
}

.c-news__meta-category {
  background-color: #fff;
  color: setting.$color-accent;
  border: 1px solid setting.$color-accent;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 12px;
  text-align: center;
  text-wrap: balance;
  align-self: start;
  flex-shrink: 0;
  width: fit-content;
}

.c-news__title {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  margin-top: 12px;
}

@media (min-width: 1024px) {
  .c-news__list {
    display: block grid;
    grid-template-columns: max-content auto 1fr;
  }

  .c-news__item {
    display: block grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    column-gap: 24px;
  }

  .c-news__meta {
    align-items: flex-start;
  }

  .c-news__meta-time {
    margin: 0;
  }

  .c-news__title {
    margin: 0;
  }

  .c-news__title:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
