@use "../setting/setting";

.p-top-about {
  padding: 40px 0;

  @media (min-width: 1024px) {
    padding: 0 0 64px;
  }
}

.p-top-about__wrap {
  margin: 16px auto 0;
  max-width: 620px;

  @media (min-width: 1024px) {
    text-align: center;
  }
}

.p-top-about__text {
  padding-bottom: 16px;

  @media not all and (min-width: 767px) {
    br {
      display: none;
    }
  }
}
